@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.gradient-bg {
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 60%, rgba(0, 0, 0, 0.1) 90%);
}

@keyframes color {
  0%   { background: #000; }
  20%  { background: #3b3b3b; }
  40%  { background: #747474; }
  60%  { background: #999999; }
  80%  { background: #bcbcbc; }
  100% { background: #ffffff; }
}

.left-hero {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}

@media (min-width: 768px) {
  .other-bg {
    position: relative;
    z-index: 1
  }
  
  .other-bg:before {
    position: absolute;
    top: -4%;
    right: 88%;
    content: '';
    width: 1px;
    height: 50%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: bottom;
    background-position: bottom;
    opacity: .3;
    z-index: -1;
    rotate: 45deg;
  }

  /*.other-bg:after {
    position: absolute;
    bottom: 0;
    left: 75%;
    content: '';
    width: 1px;
    height: 100%;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-position: bottom;
    background-position: bottom;
    opacity: .3;
    z-index: -1;
    rotate: 145deg;
  }*/
}



.button-1 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button-1:focus {
  text-decoration: none;
}

.button-1:hover {
  text-decoration: none;
}

.button-1:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-1:hover {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.button-1:not([disabled]):active {
  background-color: #333;
  border-color: #333;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-1 {
    padding: 12px 50px;
  }
}

.button-2 {
  appearance: button;
  background-color: #fff;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #000 4px 4px 0 0,#fff 4px 4px 0 1px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.button-2:focus {
  text-decoration: none;
}

.button-2:hover {
  text-decoration: none;
}

.button-2:active {
  box-shadow: rgba(255, 255, 255, .125) 0 3px 5px inset;
  outline: 0;
}

.button-2:hover {
  box-shadow: #000 2px 2px 0 0, #fff 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.button-2:not([disabled]):active {
  background-color: #333;
  border-color: #333;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-2 {
    padding: 12px 50px;
  }
}

